<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36540887301-ek0k9da8plrfn7dst6dmj32cs41knj4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36540887301-ek0k9da8plrfn7dst6dmj32cs41knj4r</string>
	<key>API_KEY</key>
	<string>AIzaSyCtd541DnVl4vI7PxW3BahkT5OvLkGAGY8</string>
	<key>GCM_SENDER_ID</key>
	<string>36540887301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ritsuya.SPI-Language</string>
	<key>PROJECT_ID</key>
	<string>spi-language</string>
	<key>STORAGE_BUCKET</key>
	<string>spi-language.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36540887301:ios:308c852952521f7817476c</string>
	<key>DATABASE_URL</key>
	<string>https://spi-language.firebaseio.com</string>
</dict>
</plist>